.accordion-content-container {
  overflow: hidden;
  height: 0;

  .content {
    padding: 0 1.5rem;
    opacity: 0;
    font-size: 0.9rem;

    & > * {
      margin: 0.75rem 0;
      line-height: var(--heigh-line);
    }

    a {
      color: rgb(4, 207, 89);
      filter: brightness(0.8);
    }
  }
}
