.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-dark);
  border-radius: 0.75rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding: 2rem;

  .illustration {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      position: absolute;
      bottom: 0;
      height: 10rem;
    }
  }

  .pricing-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
    h5 {
      font-size: 2rem;
      color: var(--color-primary);
    }

    p {
      font-size: 0.75rem;
      opacity: 0.9;
    }
  }

  .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    h6 {
      font-size: 2.5rem;
      display: flex;
      align-items: center;

      .currency {
        font-weight: 400;
        opacity: 0.2;
        filter: brightness(0.5);
        margin-right: 0.1em;
        color: var(--color-primary);
      }
    }

    & > span {
      font-size: 0.8rem;
      margin-top: -0.5rem;
      opacity: 0.5;
    }
  }

  .features {
    list-style: none;
    margin-bottom: 1rem;
    text-align: center;

    li {
      font-size: 0.85rem;
      margin: 0.65em 0;
      font-weight: 500;
    }
  }

  .select {
    width: 100%;
    display: grid;
    place-items: center;

    button {
      margin-top: 1rem;
      outline: none;
      border: none;
      background-color: var(--color-primary);
      color: #fff;
      padding: 0.5em 0.75em;
      border-radius: 0.25em;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
      transition: ease 0.15s filter;

      &:active {
        filter: brightness(0.95);
      }
    }
  }
}
