.cookies {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  z-index: 4;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 250px;
  padding: 1rem;
  box-shadow: 0 0.5px 1.2px rgba(0, 0, 0, 0.006),
    0 1.2px 2.7px rgba(0, 0, 0, 0.009), 0 2px 4.6px rgba(0, 0, 0, 0.011),
    0 3px 6.9px rgba(0, 0, 0, 0.013), 0 4.4px 10px rgba(0, 0, 0, 0.015),
    0 6.2px 14.2px rgba(0, 0, 0, 0.017), 0 8.8px 20.1px rgba(0, 0, 0, 0.019),
    0 12.8px 29.2px rgba(0, 0, 0, 0.021), 0 19.7px 45px rgba(0, 0, 0, 0.024),
    0 35px 80px rgba(0, 0, 0, 0.03);

  .illustration {
    height: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.25rem;

    img {
      position: absolute;
      bottom: 0;
      width: 5rem;
      animation: 2s ease bounce infinite 2s;
    }
  }

  .head {
    overflow: hidden;

    h6 {
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }
  }

  p {
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
    opacity: 0.8;
  }

  .controllers {
    margin: 0.25rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button {
      border: none;
      background-color: unset;
      outline: none;
      cursor: pointer;

      &:first-child {
        font-weight: 700;
        color: var(--color-primary);
        filter: brightness(0.9);
      }

      &:last-child {
        opacity: 0.4;
        transition: ease-in-out 0.1s all;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-30px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-5px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
